*{
    margin: 0;
    padding: 0;
}

.box-align{
    display: flex;
    justify-content: center;
}

.box{
    border: 1px solid black;
    width: 500px;
    height: 200px;
    display: grid;
    grid-template-columns: 150px 50px 50px;
    column-gap: 20px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.sub-box{
    padding: 10px;
    text-align: center;
    border: 1px solid black;
}