@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');

.partner-box{
    display: flex;
    /* padding:20px;
    margin: 10px; */
}

.partner-inner-box{
    display: grid;
    grid-template-rows:repeat(2,150px) ;
    margin-left: 100px;
}

.partner-head{
    font-size: 80px;
    font-family: 'Roboto Condensed', sans-serif;
}

.partner-logo{
    display: grid;
    grid-template:repeat(2,200px)/repeat(4,350px);
    justify-content:space-evenly;
    align-items: center; 
}

.partner-logo img{
    width: 200px;
}

@media screen and (max-width:800px){
    .partner-inner-box{
        display: grid;
        grid-template-rows:repeat(1,100px) ;
        align-items: center;
        justify-items: center;
        /* margin-left: 100px; */
    }
    .partner-logo{
        display: grid;
        grid-template:repeat(1,200px)/repeat(1,350px);
        justify-content:space-evenly;
        align-items: center;
        justify-items: center; 
    }
    .partner-head{
        font-size: 50px;
        font-family: 'Roboto Condensed', sans-serif;
    }
}