@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

.range-box{
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 100px;
    background-color: rgb(204, 204, 204,0.3);
    border-radius: 10% / 6%;
    /* border-top-left-radius: 30%; */
}

.range-box-1{
    display: flex;
    column-gap: 200px;
}

.range-box-1-1{
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}

.range-box-1-1 span:nth-child(1){
    font-size: 75px;
    font-weight: bold;
}

.range-box-1-1 p:nth-child(2){
    font-size: 30px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
}

.num{
    animation-delay: 1s;
    border-bottom: 2px solid rgb(19, 175, 143);
    border-radius: 10px;
}

@media screen and (max-width:800px) {
    .range-box-1{
        display: block;
    }
}